* {
    box-sizing: border-box; /*best practice*/
    border: solid black 1px; /*dev use only*/
}

h1 { /*flex/center in order to center text*/
    display: flex;
    justify-content: center;
}

h1, h2, ul {
    margin: 0; /*reset normalize back to zero to start design process from scratch*/
}

.container { /*flex/column so that bottom doesn't overflow*/
    display: flex;
    flex-direction: column;
    max-width: 800px; /*not too wide on big screens*/
    margin: 0 auto; /*centered horizontally*/
    padding: 20px; /*around edge of device screen*/
}

nav { /*flex/space-between to spread horizontally*/
    display: flex;
    justify-content: space-between;
}

main { /*flex/column to be able to flex-grow(1) the child ul so that add-new-item gets pushed to bottom of viewport*/
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*expands main to 100% of Viewport, necessary for shorter lists*/
}

.search { /*flex/center in order to center text*/
    display: flex;
    justify-content: center;
}

ul { /*flex/column so list flows downward*/
    display: flex;
    flex-direction: column;
    list-style: none; /*take away bullet formatting*/
    padding: 0; /*bring li elements back towards left side, gets rid of weird space on left*/
    justify-content: flex-start; /*li elements are grouped towards top of list*/
    flex-grow: 1; /*expands ul so that add-new-item is pushed to bottom of screen*/
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.item {
    flex-grow: 1; /*expands to fill space between checkbox and star*/
    padding: 10px; /*user-friendly*/
}

.store {
    flex-grow: 1; /*expands to fill horizontal space*/
    padding: 10px; /*user-friendly*/
}

.checkbox {/*padding not working here! why?*/
    min-width: 40px;
    padding: 10px;
}

.star { /*padding is working here*/
    min-width: 40px;
    padding: 10px;
}

.add-new-item { /*flex in order to center text*/
    display: flex;
    justify-content: center;
}

.add-new-store { /*flex in order to center text*/
    display: flex;
    justify-content: center;
}