* {
    box-sizing: border-box; /*best practice*/
    border: solid black 1px; /*dev use only*/
}

html, body { /*necessary to make other children things work*/
    height: 100%;
    margin: 0;
}

h1, h2, ul {
    margin: 0; /*reset normalize back to zero to start design process from scratch*/
}

.container { /*flex/column so that bottom doesn't overflow*/
    display: flex;
    flex-direction: column;
    max-width: 800px; /*not too wide on big screens*/
    margin: 0 auto; /*centered horizontally*/
    padding: 20px; /*around edge of device screen*/
    min-height: 100vh; /*to expand container to bottom of viewport in the case of short lists but allow for longer lists to overflow*/
}

nav { /*flex/space-between to spread horizontally*/
    display: flex;
    justify-content: space-between;
}

main { /*flex/column so items flow downward*/
    display: flex;
    flex-direction: column;
    flex-grow: 1; /*expands downward to fill space in the case of short lists*/
}

main.landing-main {
    justify-content: space-evenly; /*space things out nicely on landing page*/
}

main.signup-main {
    justify-content: space-around;
}

h1, .search, .add-new, .plus-check, .trash, .price { /*flex/center in order to center text*/
    display: flex;
    justify-content: center;
}

ul { /*flex/column so list flows downward*/
    display: flex;
    flex-direction: column;
    list-style: none; /*take away bullet formatting*/
    padding: 0; /*bring li elements back towards left side, gets rid of weird space on left*/
    justify-content: flex-start; /*li elements are grouped towards top of list*/
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.item, .favorite, .store {
    flex-grow: 1; /*expands to fill horizontal space*/
    padding: 10px; /*user-friendly*/
}

.checkbox {/*padding not working here! why? because input element?*/
    min-width: 40px;
    padding: 10px;
}

.star, .trash, .plus-check, .pencil { /*padding is working here*/
    min-width: 40px;
    padding: 10px;
}

.image {
    object-fit: contain;
    max-height: 50vh;
}

.price {
    min-width: 60px;
    padding: 10px;
}

.login {/*flex/column so form elements are stacked vertically*/
    display: flex;
    flex-direction: column;
}

p.description {
    text-align: center; /*center the descriptive text*/
    margin: 0 20px;
}

.login, .signup, .demo {
    margin: 0 30px;
}

